<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
<%= restaurant.name %>
<%= restaurant.address %>
<%= restaurant.phone_number %>
<%= restaurant.category %>
<% end %>

<%= link_to "add", new_restaurant_path, class: 'btn btn-primary' %>
